@import "../../main.scss";

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-usd-value {
  font-weight: normal;
  font-size: $default-font-size;
  margin-left: $default-spacing;
}

.deactivate-button {
  max-width: 9.5em;
}

.theme-toggler-menu {
  position: relative !important;
  margin-bottom: 14px;
}

.wallet-balance-icon {
  width: 22px;
  background: rgba(255, 255, 255, 0.7);
  padding: 4px;
  border-radius: 25px;
  margin: 2px 4px;
  border: 2px solid black;
}

@media screen and (max-width: 700px) {
  .menu-buttons {
    flex-direction: column;
  }
}
