@import "../../main.scss";

.pool {
  padding: $small-spacing;
  background-color: rgba(255, 255, 255, 0.1);
  margin: $small-spacing;
  min-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(184, 184, 184);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -webkit-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
}

h2 {
  margin: $small-spacing 0;
}

.pool-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pool-extra-title {
  margin: $small-spacing;
}

.pool-icon {
  font-size: 60px;
}

.pool-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $default-font-size;

  .button {
    display: flex;
    justify-content: center;
    max-width: 9.5em;
    margin-top: $default-spacing;
  }
}

.pool-yields {
  padding: $small-spacing;
  color: rgb(165, 219, 83);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.claim-exit-buttons {
  display: flex;
  flex-direction: row;
}

.extra-info {
  font-size: 8px;
}

.pool-title {
  font-size: $huge-font-size;
}

.stake {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.max-button {
  min-width: 25px;
  padding: 4px;
  @include themify($themes) {
    background-color: themed("buttonColor");
  }
}

.staking-button {
  min-width: 40px !important;
  height: 40px;
  margin-bottom: 12px;
}
