@import "../../main.scss";

.pool {
  position: relative;
  padding: $small-spacing;
  background-color: rgba(255, 255, 255, 0.1);
  margin: $small-spacing;
  min-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(184, 184, 184);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -webkit-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
}

.boosting-info {
  position: absolute;
  top: 2%;
  right: 5%;
  font-weight: bold;
  font-size: $small-font-size;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 50px;
  -webkit-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 17px 28px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.boosting-info:active {
  transform: translateY(2px);
}

.ReactModal__Content {
  width: 50%;
  height: 50%;
}

h2 {
  margin: $small-spacing 0;
}

.pool-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pool-extra-title {
  margin: $small-spacing;
  font-weight: normal;
}

.pool-icon {
  font-size: 45px;
}

.pool-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $default-font-size;

  .button {
    display: flex;
    justify-content: center;
    max-width: 9.5em;
    margin-top: $default-spacing;
  }
}

.pool-yields {
  padding: $small-spacing;
  color: rgb(165, 219, 83);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.claim-exit-buttons {
  display: flex;
  flex-direction: column;
}

.extra-info {
  font-size: 8px;
}

.pool-title {
  font-size: $large-font-size;
}

.stake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.earned-usd {
  font-size: $large-font-size;
  font-weight: bold;
  color: greenyellow;
  -webkit-box-shadow: 3px 10px 50px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 10px 50px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 10px 50px -4px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  padding: 12px;
}

.max-button {
  min-width: 25px;
  padding: 4px;
  @include themify($themes) {
    background-color: themed("buttonColor");
  }
}

.staking-button {
  min-width: 40px !important;
  height: 40px;
  margin-bottom: 12px;
}

.cannot-stake {
  margin-bottom: $default-spacing;
}

.boost-button {
  font-size: $default-font-size;
}

.boost-button.active {
  background-color: green;
}

.boost-enabled {
  margin-left: $small-spacing;
}

@media screen and (max-width: 1000px) {
  .pool {
    padding: 0;
    padding-bottom: $default-spacing;
    margin-top: $default-spacing;
  }
  .ReactModal__Content {
    width: 75%;
    height: 75%;
  }
}
@media screen and (max-width: 370px) {
  .pool {
    border: 0;
  }
}
