@import "../../main.scss";

.footer {
  display: flex;
  flex-direction: row;
  color: rgb(129, 129, 129);

  max-width: 100vw;
}

.footer a {
  display: flex;
  margin: $small-spacing 0;
  color: rgb(129, 129, 129);
}

@media screen and (max-width: 460px) {
  .footer {
    flex-direction: column;
    .button {
      box-shadow: none;
    }
  }
}
