@import "../../main.scss";

.pools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.-regular {
    .lava-pool-icon {
      opacity: 0.25;
    }
  }

  &.-experiments {
    .swimming-pool-icon {
      opacity: 0.25;
    }
  }
}

.pool-selection {
  width: 85%;
  img {
    cursor: pointer;
  }
}

.pools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: $default-spacing;
}

.pools-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: $default-spacing;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.pools-selector-container h1, p{
  text-align: center;
}

.pools-selector-container p{
  margin-top: -8px;
  
}
.pools-selector-container span{
  color: green;
  
}


.current-price {
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .pools-container {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1000px) {
  .pools-container {
    flex-direction: column;
  }

  .pools-container {
    margin: 0;
    margin-top: $default-spacing;
  }
}
