@import "../../main.scss";

.pools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.-regular {
    .lava-pool-icon {
      opacity: 0.25;
    }
  }

  &.-experiments {
    .swimming-pool-icon {
      opacity: 0.25;
    }
  }
}

.pool-selection {
  img {
    cursor: pointer;
  }
}

.pools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: $default-spacing;
}

.current-price {
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .pools-container {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1000px) {
  .pools-container {
    flex-direction: column;
  }

  .pools-container {
    margin: 0;
    margin-top: $default-spacing;
  }
}
