@import "../../main.scss";

.wallet-list {
  margin: 4px;
  padding: 7px;
  display: flex;
  flex-direction: row;
}

.wallet-list-content {
  // @include themify($themes) {
  //   color: themed("textColor");
  //   background-color: themed("InfoboxContentBackground");
  // }
}

.wallet-list-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-list-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .wallet-list {
    flex-direction: column;
  }
}
